body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.round-card{
    border-radius: 30px;
    border: 2px solid darkgrey;
}
.hero-section{
    padding-top: 30vh !important;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.hero-section{
    padding-top: 20vh;
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
}
.py-4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.max-w-\[330px\] {
    max-width: 330px;
}
.flex {
    display: flex;
}
.m-auto {
    margin: auto;
}
p {
    font-family: Mulish,sans-serif!important;
}
.app-p{
    padding-top: 60px;
}

.app-p1{
    text-align: center;
    max-width: 70%;
}
.app-p2{
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 330px;
    display: flex;
}

